@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
h2{
    font-size: 5em;
    color: white;
}
body{
  text-align: center;
  color: white;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
    background: linear-gradient(223deg, #cc00ff, #390047, #000657, #020eff);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}

h1{
    font-size: 3em;

}

.form{
    background-color: rgba(10, 0, 0, 0.479);
    margin-left: 10em;
    margin-right: 10em;
    padding-bottom: 5em;

}

label{
    opacity: 100%;
    color: pink;
    margin-left: 3em;
}

ul {
    list-style-type: none;
    padding-left: 10em;
    
    
}
li{
    padding: 0.3%;
    list-style-type: none;
}

.form-element{
    display: flex;
    padding: 1em;

}
